<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeonsaeyukjun.jeonsaeyukjunbe.contract.mapper.ContractMapper">
    <!-- OwnershipInfoDto의 필드에 따라 정보를 가져오는 쿼리 (resultType을 SpecialContractDto로 수정) -->
    <select id="fetchSpecialContracts" resultType="SpecialContractDto">
        SELECT
        sc.conditionType AS conditionType,
        sc.content
        FROM Special_Contract sc
        JOIN Ownership_Info oi ON oi.reportId = #{reportId}  <!-- report_id를 기준으로 조인 -->
        WHERE (
        (oi.auctionRecord = true AND sc.conditionType = 'auctionRecord') OR
        (oi.registrationRecord = true AND sc.conditionType = 'registrationRecord') OR
        (oi.trust_registrationRecord = true AND sc.conditionType = 'trust_registrationRecord') OR
        (oi.redemptionRecord = true AND sc.conditionType = 'redemptionRecord') OR
        (oi.injuctionRecord = true AND sc.conditionType = 'injuctionRecord')
        )
    </select>
</mapper>
