<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeonsaeyukjun.jeonsaeyukjunbe.login.mapper.LoginMapper">
    <insert id="register" parameterType="UserDto" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users (userKey, username, email, platformType, profileImg)
        VALUES (#{userKey}, #{username}, #{email}, #{platformType}, #{profileImg})
    </insert>

    <select id="findByUserKey" parameterType="string" resultType="UserDto">
        SELECT userId AS userId, userKey AS userKey, username, email, platformType AS platformType, profileImg AS profileImg, createAt AS createAt
        FROM users
        WHERE userKey = #{userKey}
    </select>
</mapper>