<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeonsaeyukjun.jeonsaeyukjunbe.mypage.mapper.MypageMapper">

    <!-- 특정 사용자의 보고서 목록을 페이지네이션을 통해 가져오기 -->
    <select id="fetchReportList" resultType="ReportDto" parameterType="map">
        SELECT * FROM report
        WHERE userId = #{userId}
          AND isDelete = false
        <if test="query != null and query != ''">
            AND (roadName LIKE CONCAT('%', #{query}, '%') OR detailAddress LIKE CONCAT('%', #{query}, '%'))
        </if>
        ORDER BY
        <choose>
            <when test="sortKey=='oldest'">createAt ASC</when>
            <when test="sortKey=='lastest'">createAt DESC</when>
        </choose>
        LIMIT #{size} OFFSET #{offset};
    </select>

    <!-- 전체 보고서 개수 조회 -->
    <select id="fetchTotalReportCount" resultType="int">
        SELECT COUNT(*) FROM report
        WHERE userId = #{userId}
        <if test="query != null and query != ''">
            AND (roadName LIKE CONCAT('%', #{query}, '%') OR detailAddress LIKE CONCAT('%', #{query}, '%'))
        </if>
          AND isDelete = false;
    </select>

</mapper>
