<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeonsaeyukjun.jeonsaeyukjunbe.report.mapper.PropertyAddressMapper">
    <select id="fetchPropertyAddress" parameterType="PropertyAddressDto" resultType="PropertyAddressDto">
        SELECT * FROM Property_Address WHERE roadName = #{roadName} AND detailAddress = #{detailAddress}
    </select>

    <insert id="addPropertyAddress" parameterType="PropertyAddressDto">
        INSERT INTO Property_Address (roadName, detailAddress, jbAddress, legalCode)
        VALUES (#{roadName}, #{detailAddress}, #{jbAddress}, #{legalCode})
    </insert>

</mapper>
