<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeonsaeyukjun.jeonsaeyukjunbe.report.mapper.ReportMapper">

    <insert id="addReport" parameterType="ReportDto" useGeneratedKeys="true" keyProperty="reportId">
        INSERT INTO Report (user_id, road_name, detail_address, safety_score, create_at, lessor_name, deposit)
        VALUES (#{userId}, #{roadName}, #{detailAddress}, #{safetyScore}, now(), #{lessorName}, #{deposit})
    </insert>

    <insert id="addOwnershipInfo" parameterType="OwnershipInfoDto">
        INSERT INTO Ownership_Info ( report_id, auction_record, registration_record, trust_registration_record,
            redemption_record,  injuction_record,  seizure_count, provisional_seizure_count)
        VALUES ( #{reportId},  #{auctionRecord}, #{registrationRecord}, #{trustRegistrationRecord},
                   #{redemptionRecord}, #{injuctionRecord}, #{seizureCount},  #{provisionalSeizureCount})
    </insert>

    <insert id="addRightInfo" parameterType="RightInfoDto">
        INSERT INTO Right_Info ( report_id, priority_deposit, mortgage_registration_count, leasehold_registration_count)
        VALUES ( #{reportId}, #{priorityDeposit}, #{mortgageRegistrationCount}, #{leaseholdRegistrationCount})
    </insert>

    <insert id="addLandlordIncident" parameterType="LandlordIncidentDto">
        INSERT INTO Landlord_Incident ( report_id, rental_fraud,  high_tax_delinquent)
        VALUES ( #{reportId}, #{rentalFraud}, #{highTaxDelinquent} )
    </insert>

    <insert id="addMoney" parameterType="MoneyDto">
        INSERT INTO Money ( report_id, sale_price_ratio, now_price )
        VALUES ( #{reportId}, #{salePriceRatio}, #{nowPrice} )
    </insert>

    <insert id="addBuildingInfo" parameterType="BuildingInfoDto">
        INSERT INTO Building_Info ( report_id, landType, landArea, buildingType, buildingArea, area )
        VALUES ( #{reportId}, #{landType}, #{landArea}, #{buildingType}, #{buildingArea}, #{area} )
    </insert>

</mapper>
