<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeonsaeyukjun.jeonsaeyukjunbe.map.mapper.SafetyMapper">

    <select id="findSafetyScoresByLegalCode" resultType="com.jeonsaeyukjun.jeonsaeyukjunbe.map.dto.SafetyScoreDto">
        SELECT r.road_name, r.detail_address, r.safety_score
        FROM Report r
                 JOIN Property_Address p ON r.road_name = p.road_name AND r.detail_address = p.detail_address
        WHERE p.legal_code = #{legalCode}
    </select>


</mapper>

