<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--        <typeAlias alias="Dto명" type="파일위치"/>-->
        <typeAlias alias="ContractDTO" type="com.jeonsaeyukjun.jeonsaeyukjunbe.contract.dto.ContractDto"/>
        <typeAlias alias="SpecialContractDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.contract.dto.SpecialContractDto"/>
        <typeAlias alias="OwnershipInfoDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.contract.dto.OwnershipInfoDto"/>
        <typeAlias alias="FileDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.contract.dto.FileDto"/>
        <typeAlias alias="PropertyAddressDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.report.Dto.PropertyAddressDto"/>
        <typeAlias alias="ReportDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.report.Dto.ReportDto"/>
        <typeAlias alias="BuildingInfoDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.report.Dto.BuildingInfoDto"/>
        <typeAlias alias="LandlordIncidentDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.report.Dto.LandlordIncidentDto"/>
        <typeAlias alias="MoneyDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.report.Dto.MoneyDto"/>
        <typeAlias alias="OwnershipInfoDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.report.Dto.OwnershipInfoDto"/>
        <typeAlias alias="RightInfoDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.report.Dto.RightInfoDto"/>
        <typeAlias alias="UserDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.login.dto.UserDto"/>
        <typeAlias alias="ReportDetailDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.report.Dto.ReportDetailDto"/>
        <typeAlias alias="AccidentDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.map.dto.AccidentDto"/>
        <typeAlias alias="SafetyScoreDto" type="com.jeonsaeyukjun.jeonsaeyukjunbe.map.dto.SafetyScoreDto"/>
    </typeAliases>
</configuration>